@import 'bootstrap';

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: borderbox;
	box-sizing: border-box;
} 
/*
* Globals
*/
/* Move down content because we have a fixed navbar that is 50px tall */
body {
padding-top: 50px;
padding-bottom: 20px;
}
